{% extends "cover.html" %}
{% block title %}2-step verification{% endblock %}
{% block contain %}
<h1 class="cover-heading">2-step verification</h1><br>
{% if failed %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong>Failed!</strong> Your username or password was incorrect. Please try agein. {{ failed }}
</div>
{% endif %}
<form action="" method="POST" role="form">
    <div class="form-group">
        <label>Code</label>
	<input name="code" type="number" class="form-control">
    </div>
    <input name="token" type="hidden" values={{ token }}>
   <button class="btn btn-primary btn-lg" type="submit">Verify</button>
</form>
{% endblock %}
